version: "3.3"

networks:
  host:
    external: true
  grafana_net:
    external: true
  proxy_front:
    external: true

volumes:
    prometheus: {}
    prometheus-etc: {}
    grafana: {}

secrets:
   GF_SECURITY_ADMIN_PASSWORD:
     external: true

services:
  grafana:
    image: quay.io/shesselink81/grafana:latest
    ports:
      - 3000:3000
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:3000/ || exit 1
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - grafana_net
      - proxy_front
    secrets:
      - GF_SECURITY_ADMIN_PASSWORD
    environment:
      - GF_USERS_ALLOW_SIGN_UP=false
      - GF_SERVER_DOMAIN=mon.hessel.cloud
      - GF_SERVER_ROOT_URL=%(protocol)s://%(domain)s
      - GF_SECURITY_ALLOW_EMBEDDING=true
      - GF_SECURITY_ADMIN_PASSWORD__FILE=/run/secrets/GF_SECURITY_ADMIN_PASSWORD
      - GF_SECURITY_ADMIN_USER=sander
    volumes:
      - grafana:/var/lib/grafana
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
          - node.platform.arch==x86_64
      resources:
        limits:
          memory: 256M
        reservations:
          memory: 128M
  prometheus:
    image: prom/prometheus:latest
    networks:
      - grafana_net
    ports:
      - 9090:9090
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:9090/ || exit 1
      interval: 30s
      timeout: 10s
      retries: 3
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--storage.tsdb.retention=${PROMETHEUS_RETENTION:-72h}'
    volumes:
      - prometheus:/prometheus
      - prometheus-etc:/etc/prometheus
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
          - node.hostname == dockerhost01
      resources:
        limits:
          memory: 2048M
        reservations:
          memory: 512M