version: "3.3"

networks:
  grafana_net:
    external: false

volumes:
    prometheus: {}
    prometheus-etc: {}
    grafana: {}

services:
  grafana:
    image: quay.io/shesselink81/grafana:latest
    ports:
      - 3000:3000
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:3000/ || exit 1
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - grafana_net
    environment:
      - GF_USERS_ALLOW_SIGN_UP=false
      - GF_SERVER_ROOT_URL=%(protocol)s://%(domain)s
      - GF_SECURITY_ALLOW_EMBEDDING=true
    volumes:
      - grafana:/var/lib/grafana
    deploy:
      mode: replicated
      replicas: 1
      resources:
        limits:
          memory: 256M
        reservations:
          memory: 128M
  prometheus:
    image: prom/prometheus:latest
    networks:
      - grafana_net
    ports:
      - 9090:9090
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:9090/ || exit 1
      interval: 30s
      timeout: 10s
      retries: 3
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--storage.tsdb.retention=${PROMETHEUS_RETENTION:-72h}'
    volumes:
      - prometheus:/prometheus
      - prometheus-etc:/etc/prometheus
    deploy:
      mode: replicated
      replicas: 1
      resources:
        limits:
          memory: 2048M
        reservations:
          memory: 512M