# This is a basic workflow to help you get started with Actions

name: BUILD1

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        uses: docker/setup-buildx-action@v1
        id: buildx
        with:
          install: true
      - 
       name: Docker Login
       uses: docker/login-action@v1.6.0
       with:
         registry: quay.io
         username: shesselink81
         password: 5EsNhfcviK3kficPNsE3JdVRdZ9MlesuZwqYdmEaxfsIuKFkGDrXFFtBG6LpIZgolntVxsSLuS/IrNDOYBm44Q==
      -
        name: Build
        run: |
          docker build --platform linux/amd64,linux/arm/v7,linux/arm64 -t quay.io/shesselink81/dockerd-exporter:latest -f ./dockerd-exporter/Dockerfile --push .
          docker build --platform linux/amd64 --build-arg "GRAFANA_VERSION=latest" --build-arg "GF_INSTALL_IMAGE_RENDERER_PLUGIN=true" --build-arg "GF_INSTALL_PLUGINS=grafana-clock-panel,grafana-piechart-panel" -t quay.io/shesselink81/grafana:latest -f ./grafana/Dockerfile --push .
          docker build --platform linux/amd64,linux/arm/v7,linux/arm64 -t quay.io/shesselink81/node-exporter:latest -f ./node-exporter/Dockerfile --push .
          docker build --platform linux/arm/v7 -t quay.io/shesselink81/cadvisor:v0.37.5-armv7 -f ./cadvisor-armv7/Dockerfile --push .
