# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        uses: docker/setup-buildx-action@v1
        id: buildx
        with:
          install: true
      - 
       name: Docker Login
       uses: docker/login-action@v1.6.0
       with:
         username: shesselink81
         password: 0UmoYycNwzjhBz9F0rM0YaGtD
      -
        name: Build
        run: |
          docker build --platform linux/amd64,linux/arm/v7,linux/arm/v6,linux/arm64 -t shesselink81/dockerd-exporter:latest-multi-test -f ./dockerd-exporter/Dockerfile --push .
